@media only screen and (max-width: 1050px) {
    .nameh1 {
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
    }

    .par1 {
        padding-top: 40px;
    }

    #logoimg {
        margin-left: 14px;
        height: 100px;
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .listit {
        margin-left: .6rem;
    }

    .mainphoto {
        height: 330px;
        width: 100%;
    }

    .serv-button {
        font-size: .6rem;
    }

    .pserv {
        font-size: .7rem;
    }

    .h2serv {
        font-size: .9rem;
    }
}


@media only screen and (max-width: 780px) {

    .menu-btn {
        display: flex;
    }

    .contact2 {
        margin-right: 5px;
    }

    .contact-tel {
        padding-right: 3px;
    }

    .ul0 {
        padding: 0;
    }

    #locationgif {
        padding: 0;
    }

    #top1 {
        height: 45px;
    }

    .address {
        margin: 0;
        font-size: .6rem;
    }

    header {
        height: 45px;
    }

    nav {
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 60px;
        height: 130px;
    }

    .list {
        display: none;
        padding: 0;
        position: relative;
    }


    #home {
        background: #F16868;
        border-radius: 10em;
        padding: 0.2em 1.1em;
        color: black;
    }

    .list.show {
        background: #3498DB url('../images/eleni01\ \(2\).jpg');
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: 120px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

    #logoimg {
        height: 60px;
        margin: 5px 10px;
        padding: 10px .5rem .5rem .5rem;
    }

    .listit {
        margin-left: 0;
        line-height: 25px;
    }

    .nameh1 {
        margin: 0;
        font-size: 0.9rem;
    }

    .menu {
        height: 45px;
    }

    .menu.show {
        height: 180px;
    }

    header.show {
        height: 200px;
    }

    .mainphoto {
        background-size: contain;
        background-position: 0 30px;
        height: 210px;
    }

    .mainphoto.show {
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        margin: 0;
    }

    .sticky + .mainphoto.show {
        padding-top: 185px;
    }

    .par1 {
        font-size: .8rem;
        padding-top: 50px;
        padding-left: 10px;
        margin: 0;
    }

    .par1e {
        font-size: .7rem;
        padding-left: 10px;
    }

    .sticky + .mainphoto {
        padding-top: 65px;
    }

    .servises {
        height: 1500px;
    }

    .servises101, .servises2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .servises101 {
        height: auto;
    }

    .servises2 {
        height: auto;
    }

    .care {
        padding-top: 0;
    }

    .serv1par {
        height: 50px;
    }

    .serv1a {
        padding-bottom: 33px;
    }

    .servise11, .servise12, .servise13, .servise14, .servise21, .servise22, .servise23 {
        width: 100%;
    }

    .bottom {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .bottom0 {
        width: 100%;
    }

    .bottom1 {
        width: 100%;
    }

    .bottom2 {
        width: 100%;
    }

    .contact-tel2 {
        padding: 0;
    }

    .bottom3 {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .mainphoto {
        background-size: contain;
        background-position: 0 80px;
        height: 180px;
    }
}