.mainphoto {
    background: url('../images/main2.jpeg');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.6;
}

.mainphoto-serv {
    background: url('../images/Start.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.mainphoto-bio {
    background: url('../images/bio.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mainphoto-contact {
    background: url('../images/contact.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.par1 {
    padding-top: 130px;
    padding-left: 10%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
}

.par1e {
    font-size: 1.1rem;
    padding-left: 10%;
    margin: 0;
}

.bio-par {
    text-align: center;
    padding-top: 70px;
    font-size: 2rem;
    font-weight: bolder;
    color: #3498DB;
    margin: 0;
}

.contact-h2 {
    text-align: center;
    padding: 200px 0 0 0;
    margin: 0px;
    font-size: 1.8rem;
    font-weight: bolder;
    color: white;
}