.mainphoto {
  background: url("../images/main2.jpeg");
  background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.6;
}

@media only screen and (max-width: 1050px) {
  .mainphoto {
    height: 330px;
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .mainphoto {
    background-size: contain;
    background-position: 0 40px;
    height: 200px;
  }
}

@media only screen and (max-width: 430px) {
  .mainphoto {
    background-position: 0 67px;
    height: 170px;
  }
}

.sticky + .mainphoto {
  padding-top: 80px;
}

@media only screen and (max-width: 430px) {
  .sticky + .mainphoto {
    padding-top: 45px;
  }
}

.mainphoto.show {
  background-position: 0 0;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}

.sticky + .mainphoto.show {
  background-size: contain;
  background-position: 0 220px;
  padding-top: 220px;
}

.mainphotob {
  background: url("../images/bio.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (max-width: 1080px) {
  .mainphotob {
    background-size: contain;
    background-position: 0 40px;
    height: 200px;
  }
}

@media only screen and (max-width: 430px) {
  .mainphotob {
    background-position: 0 67px;
    height: 170px;
  }
}

.sticky + .mainphotob {
  padding-top: 80px;
}

@media only screen and (max-width: 430px) {
  .sticky + .mainphotob {
    padding-top: 45px;
  }
}

.mainphotob.show {
  background-position: 0 0;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}

.sticky + .mainphotob.show {
  background-size: contain;
  background-position: 0 210px;
  padding-top: 220px;
}

.mainphoto-serv {
  background: url("../images/Start.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .mainphoto-serv {
    background-size: contain;
    background-position: 0 40px;
    height: 200px;
  }
}

@media only screen and (max-width: 430px) {
  .mainphoto-serv {
    background-position: 0 67px;
    height: 170px;
  }
}

.sticky + .mainphoto-serv {
  padding-top: 80px;
}

@media only screen and (max-width: 430px) {
  .sticky + .mainphoto-serv {
    padding-top: 45px;
  }
}

.mainphoto-serv.show {
  background-position: 0 -25px;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}

.sticky + .mainphoto-serv.show {
  background-size: contain;
  background-position: 0 200px;
  padding-top: 225px;
}

.mainphoto-contact {
  background: url("../images/contact.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 780px) {
  .mainphoto-contact {
    background-size: contain;
    background-attachment: fixed;
    background-position: 0 40px;
    height: 200px;
  }
}

@media only screen and (max-width: 430px) {
  .mainphoto-contact {
    background-position: 0 67px;
    height: 170px;
    background-attachment: fixed;
  }
}

.sticky + .mainphoto-contact {
  padding-top: 80px;
}

@media only screen and (max-width: 430px) {
  .sticky + .mainphoto-contact {
    padding-top: 45px;
  }
}

.mainphoto-contact.show {
  background-position: 0 0;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}

.sticky + .mainphoto-contact.show {
  background-size: contain;
  background-position: 0 220px;
  padding-top: 220px;
}

.par1 {
  padding-top: 130px;
  padding-left: 10%;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
}

@media only screen and (max-width: 1050px) {
  .par1 {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 780px) {
  .par1 {
    font-size: .8rem;
    padding-top: 50px;
    padding-left: 10px;
    margin: 0;
  }
}

.par1e {
  font-size: 1.1rem;
  padding-left: 10%;
  margin: 0;
}

@media only screen and (max-width: 780px) {
  .par1e {
    font-size: .7rem;
    padding-left: 10px;
  }
}

.bio-par {
  text-align: center;
  padding-top: 70px;
  font-size: 2rem;
  font-weight: bolder;
  color: #3498DB;
  margin: 0;
}

@media only screen and (max-width: 1080px) {
  .bio-par {
    padding-top: 10px;
  }
}

.contact-h2 {
  text-align: center;
  padding: 200px 0 0 0;
  margin: 0px;
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
}

@media only screen and (max-width: 1580px) {
  .contact-h2 {
    padding: 200px 0 0 200px;
  }
}

@media only screen and (max-width: 800px) {
  .contact-h2 {
    padding: 100px 0 0 100px;
  }
}

@media only screen and (max-width: 430px) {
  .contact-h2 {
    padding: 60px 0 0 130px;
  }
}
/*# sourceMappingURL=photo.css.map */