.servises {
    background:  url('../images/eleni01\ \(2\).jpg');
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.servises01 {
    color: #7E7E7E;
}

.servises1 {
    width: 60%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}


.servises101 {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.servise11, .servise12, .servise13, .servise14 {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.serv1head {
    text-align: center;
    height: 44px;
}

.care {
    height: 60px;
    padding-top: 15px;
}

.h2serv {
    color: #56A7DD;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.1rem;
    text-align: center;
}

.serv1img {
    display: flex;
    justify-content: center;
}

.pserv {
    font-size: .8rem;
    line-height: .9rem;
}

.pserv02 {
    padding-left: 80px;
}

.serv1a {
    text-align: center;
}

.serv1par {
    text-align: center;
    height: 83px;
}

.serv-button {
    background: #F16868;
    border-radius: 1.2em;
    padding: 0.6em 1em;
    color: black;
    font-size: .8rem;
}

.servises2 {
    width: 55%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.servise21, .servise22, .servise23 {
    width: 33%;
    display: flex;
    flex-direction: column;
}




.servises-i {
    height: auto;
    width: 100%;
    flex-direction: column;
}


.servises101-i {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.servise11-i, .servise12-i, .servise13-i, .servise14-i, .servise15-i, .servise16-i, .servise17-i{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
}


.h2serv2 {
    color: #F14F3E;
    font-size: 1.5em;
    margin-top: -200px;
    padding-top: 200px;
}

.serv1par-1 {
    height: auto;
    width: 100%;
}
