.servises {
    background:  url('../images/eleni01\ \(2\).jpg');
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 780px) {
        height: 1500px;
        }
}

.servises1 {
    width: 60%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.servises1h2 {
    color: #7E7E7E;
}

.servises1row {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 780px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
    }
}

.servisebox {
    width: 25%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 780px) {
        width: 100%;
    }
}

.serv1head {
    text-align: center;
    height: 44px;
}

.serv1headh2 {
    color: #56A7DD;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.1rem;
    text-align: center;
}

.care {
    height: 60px;
    padding-top: 15px;

    @media only screen and (max-width: 780px) {
        padding-top: 0;
    }
}


.serv1img {
    display: flex;
    justify-content: center;
}

.pserv {
    font-size: .8rem;
    line-height: .9rem;

    @media only screen and (max-width: 1050px) {
        font-size: .7rem;
        }
}

.pserv02 {
    padding-left: 80px;
}

.serv1a {
    text-align: center;

    @media only screen and (max-width: 780px) {
        padding-bottom: 33px;
        }
}

.serv1par {
    text-align: center;
    height: 83px;

    @media only screen and (max-width: 780px) {
        height: 50px;
    }
}

.serv-button {
    background: #F16868;
    border-radius: 1.2em;
    padding: 0.6em 1em;
    color: black;
    font-size: .8rem;

    @media only screen and (max-width: 1050px) {
        font-size: .6rem;
        }
}

.servises2row {
    width: 55%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 780px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
    }
}

.servise21, .servise22, .servise23 {
    width: 33%;
    display: flex;
    flex-direction: column;
}


.servises-i {
    height: auto;
    width: 100%;
    flex-direction: column;
}


.servises101-i {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.servise11-i, .servise12-i, .servise13-i, .servise14-i, .servise15-i, .servise16-i, .servise17-i{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
}


.h2serv2 {
    color: #F14F3E;
    font-size: 1.5em;
    margin-top: -200px;
    padding-top: 200px;

    @media only screen and (max-width: 1050px) {
        font-size: .9rem;
    }
}

.serv1par-1 {
    height: auto;
    width: 100%;
}
