body {
    margin: 0;
    font-family: 'Zen Antique Soft', serif;
}

#top1 {
    height: 50px;
    background-color: #EEF1F3;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact1 {
    display: flex;
    align-items: center;
    position: relative;
    float: right;
    height: 50px;
}

.ul0 {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

#locationgif {
    display: flex;
    padding-top: 11px;
    height: 22px;
    align-items: center;
}

.address {
    color: #8B7373;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.ul1, .li1, .contact-tel, #phoneImg, #fbimg, .adress {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;    
    list-style-type: none;
}

.ul1 {
    width: 100%;
}

.contact2 {
    display: flex;
    width: 300px;
    align-items: center;
}

.contact-tel {
    display: flex;
    font-weight: bolder;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #8B7373;
}

.contact-tel:hover {
    color: #3498DB;
}

#phoneImg {
    height: 31px;
    padding-right: 4px;
}

#fbimg {
    float: right;
}